* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  @include body();
}

@include links();

blockquote {
  padding: $default_gutter;
  font-size: 20*$px;
  @include blockquote();
}

ul, ol {
  padding: 0;
  margin: 0 0 $phi*1em $phi*1em;
}

@include htags();

//temp guide layout
/*
.site-header {
  @include guide;
}

.entry-header, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation, .entry-content, .hentry {
  @include guide;
}

.widget {
  @include guide;
}
.site-footer {
  @include guide;
}
*/

// sidebar
.site {
  display: grid;
  grid-template-columns: auto ($size__site-sidebar);
  grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer";
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
  grid-area: sidebar;
}

.site-footer {
  grid-area: footer;
}

// custom

// site wrap
.site {
  padding-top: $default_gutter / 2;
}

// header
.site-header {
  max-width: total_site_width();
  margin: $default_gutter/2 auto $default_gutter auto;

}

.site-branding {
  padding-left: $phi * 1rem;
  padding-top: $phi * 1rem;
  padding-bottom: $phi*1rem;
  font-size: 0.5em;
  float:left;
}

.site-title {
  font-weight: 700;
}

.site-title, .site-description {
  margin: 0;
  line-height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.site-description {
  margin-left: 0.5em;
  font-style: italic;
}

.site-main {
  max-width: total_site_width();
  margin: $default_gutter auto 0 auto
}

// posts - custom
/*
.entry-header, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation, .entry-content, .hentry {
  padding-left: $post_l_padding;
  padding-right: $post_r_padding;
  padding-top: $post_t_padding;
  padding-bottom: $post_b_padding;
  margin: 0 0 $default_gutter 0;
}
*/
.hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
  padding-left: $post_l_padding;
  padding-right: $post_r_padding;
  padding-top: $post_t_padding;
  padding-bottom: $post_b_padding;
  margin: 0 0 $default_gutter 0;

  @include main_panel();
}


.page-header .page-title {
  text-align: center;
}

.entry-content {
  a img {
    vertical-align: bottom;
  }
}

.entry-header {
  text-align: center;
}

.entry-title {
  margin-top: 0;
  margin-bottom: $post_t_padding;
}

.entry-meta {
  display: inline-block;
  font-size: 18*$px;
  font-weight: 300;
  padding: 0.8em 1.2em;
  margin-bottom: $default_gutter;
}

.entry-footer {
  text-align: center;
  margin: $post_b_padding 0 $post_b_padding / $phi 0;
  line-height: 3em;
  span {
    margin: 0 0.618em;
    padding: 0 0.618em;
    display: inline-block;
  }
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .comment {
    padding: $default_gutter;
  }
}

// widgets - custom
.widget {
  padding-left: $widget_l_padding;
  padding-right: $widget_r_padding;
  padding-top: $widget_t_padding;
  padding-bottom: $widget_b_padding;
  margin-left: $default_gutter;
  margin-bottom: $default_gutter;
}

// widgets - custom - lists
.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 1em 0 1em 2em;
    &.page_item_has_children, &.menu-item-has-children {
      padding-bottom: 0;
      border: none;
    }
    li li li {
      padding-left: 0;
    }
  }
  .children li:first-of-type, .sub-menu li:first-of-type {
    margin-top: 1em;
  }
}

input.search-field {
  box-sizing: border-box;
  width: 100%;
}

.site-footer {
  padding-top: $phi * 1em;
  padding-bottom: $phi * 1em;
  max-width: total_site_width();
  margin: 0 auto;
}

// temp nav
.main-navigation {
  clear: none;
  float: none;
  width: auto;
  ul {
    float: right;
    padding: 0 1em;
    li {
      float: left;
      a {
        padding: $phi * 1rem;
      }
      ul {
        display: none;
      }
    }
  }
}

.menu-toggle {
  float: right;
  margin: $phi * 1rem;
}

// layout - responsive stuff
@media (max-width: total_site_width()) {
  @include htags(0.9);

  $default_h_padding: $phi * $phi * 1rem;
  $default_v_padding: $default_h_padding;

  $post_l_padding: $default_h_padding;
  $post_r_padding: $post_l_padding;

  $post_t_padding: $default_h_padding / $phi;
  $post_b_padding: $post_t_padding;

  .hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
    padding-left: $post_l_padding;
    padding-right: $post_r_padding;
    padding-top: $post_t_padding;
    padding-bottom: $post_b_padding;
  }

  .entry-title {
    margin-bottom: $post_t_padding;
  }

  .site-footer {
    padding: $phi * 1em;
  }
}

@media (max-width: 900*$px) {
  .content-area {
    float: none;
    margin: 0;
    width: 100%;
  }

  .site-main {
    margin: 0;
  }

  .site-content .widget-area {
    float: none;
    overflow: hidden;
    width: 100%;
  }

  .widget {
    margin-left: 0;
    margin-bottom: $default_gutter;
  }
}

@media (max-width: 600*$px) {
  @include htags(0.8);
}