@import url("//fonts.googleapis.com/css?family=Raleway:300,400,700,900");
/*
@mixin guide() {
  background: #f5f3f5;
}
*/
* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  border-top: 0.125rem solid #ff9f1c;
  background-color: #212227;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}

a:hover, a:active {
  border-bottom: 1px dotted #ff9f1c;
}

blockquote {
  padding: 1.618rem;
  font-size: 1.25rem;
  background-color: #ebe8e5;
  border: 0.0625rem solid #e8e0da;
  color: #76624e;
}
blockquote a, blockquote a:visited, blockquote a:active {
  color: inherit;
}

ul, ol {
  padding: 0;
  margin: 0 0 1.618em 1.618em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 1.313em;
  font-weight: 300;
}

h1 {
  font-size: 3em;
  margin: 0.563em 0;
}

h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}

h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}

h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}

h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}

h6 {
  font-size: 1em;
  margin: 0.75em 0;
}

/*
.site-header {
  @include guide;
}

.entry-header, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation, .entry-content, .hentry {
  @include guide;
}

.widget {
  @include guide;
}
.site-footer {
  @include guide;
}
*/
.site {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-areas: "header header" "main sidebar" "footer footer";
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
  overflow: hidden;
  /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
  grid-area: sidebar;
}

.site-footer {
  grid-area: footer;
}

.site {
  padding-top: 0.809rem;
}

.site-header {
  max-width: 72.4339002057rem;
  margin: 0.809rem auto 1.618rem auto;
}

.site-branding {
  padding-left: 1.618rem;
  padding-top: 1.618rem;
  padding-bottom: 1.618rem;
  font-size: 0.5em;
  float: left;
}

.site-title {
  font-weight: 700;
}

.site-title, .site-description {
  margin: 0;
  line-height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.site-description {
  margin-left: 0.5em;
  font-style: italic;
}

.site-main {
  max-width: 72.4339002057rem;
  margin: 1.618rem auto 0 auto;
}

/*
.entry-header, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation, .entry-content, .hentry {
  padding-left: $post_l_padding;
  padding-right: $post_r_padding;
  padding-top: $post_t_padding;
  padding-bottom: $post_b_padding;
  margin: 0 0 $default_gutter 0;
}
*/
.hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
  padding-left: 4.235801032rem;
  padding-right: 4.235801032rem;
  padding-top: 2.617924rem;
  padding-bottom: 2.617924rem;
  margin: 0 0 1.618rem 0;
  background-color: #212227;
  border: 0.0625rem solid #ff9f1c;
  box-shadow: 0 0.0625rem rgba(33, 19, 4, 0.07);
}

.page-header .page-title {
  text-align: center;
}

.entry-content a img {
  vertical-align: bottom;
}

.entry-header {
  text-align: center;
}

.entry-title {
  margin-top: 0;
  margin-bottom: 2.617924rem;
}

.entry-meta {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 0.8em 1.2em;
  margin-bottom: 1.618rem;
}

.entry-footer {
  text-align: center;
  margin: 2.617924rem 0 1.618rem 0;
  line-height: 3em;
}
.entry-footer span {
  margin: 0 0.618em;
  padding: 0 0.618em;
  display: inline-block;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list .comment {
  padding: 1.618rem;
}

.widget {
  padding-left: 2.617924rem;
  padding-right: 2.617924rem;
  padding-top: 2.617924rem;
  padding-bottom: 2.617924rem;
  margin-left: 1.618rem;
  margin-bottom: 1.618rem;
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget ul li {
  padding: 1em 0 1em 2em;
}
.widget ul li.page_item_has_children, .widget ul li.menu-item-has-children {
  padding-bottom: 0;
  border: none;
}
.widget ul li li li li {
  padding-left: 0;
}
.widget ul .children li:first-of-type, .widget ul .sub-menu li:first-of-type {
  margin-top: 1em;
}

input.search-field {
  box-sizing: border-box;
  width: 100%;
}

.site-footer {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
  max-width: 72.4339002057rem;
  margin: 0 auto;
}

.main-navigation {
  clear: none;
  float: none;
  width: auto;
}
.main-navigation ul {
  float: right;
  padding: 0 1em;
}
.main-navigation ul li {
  float: left;
}
.main-navigation ul li a {
  padding: 1.618rem;
}
.main-navigation ul li ul {
  display: none;
}

.menu-toggle {
  float: right;
  margin: 1.618rem;
}

@media (max-width: 72.4339002057rem) {
  h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.313em;
    font-weight: 300;
  }

  h1 {
    font-size: 2.7em;
    margin: 0.563em 0;
  }

  h2 {
    font-size: 2.025em;
    margin: 0.625em 0;
  }

  h3 {
    font-size: 1.35em;
    margin: 1.313em 0;
  }

  h4 {
    font-size: 1.1817em;
    margin: 1.313em 0;
  }

  h5 {
    font-size: 1.0125em;
    margin: 1.313em 0;
  }

  h6 {
    font-size: 1em;
    margin: 0.75em 0;
  }

  .hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
    padding-left: 2.617924rem;
    padding-right: 2.617924rem;
    padding-top: 1.618rem;
    padding-bottom: 1.618rem;
  }

  .entry-title {
    margin-bottom: 1.618rem;
  }

  .site-footer {
    padding: 1.618em;
  }
}
@media (max-width: 56.25rem) {
  .content-area {
    float: none;
    margin: 0;
    width: 100%;
  }

  .site-main {
    margin: 0;
  }

  .site-content .widget-area {
    float: none;
    overflow: hidden;
    width: 100%;
  }

  .widget {
    margin-left: 0;
    margin-bottom: 1.618rem;
  }
}
@media (max-width: 37.5rem) {
  h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.313em;
    font-weight: 300;
  }

  h1 {
    font-size: 2.4em;
    margin: 0.563em 0;
  }

  h2 {
    font-size: 1.8em;
    margin: 0.625em 0;
  }

  h3 {
    font-size: 1.2em;
    margin: 1.313em 0;
  }

  h4 {
    font-size: 1.0504em;
    margin: 1.313em 0;
  }

  h5 {
    font-size: 1em;
    margin: 1.313em 0;
  }

  h6 {
    font-size: 1em;
    margin: 0.75em 0;
  }
}

/*# sourceMappingURL=custom_styles.css.map */
